@model Lightning.Models.DBModels.Request

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align: center;">Промяна по заявка</h1>

<hr />
<div class="row" style="justify-content:center;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label">Начална дата за включване</label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label">Крайна дата за включване</label>
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package" class="control-label">Пакет</label>
                <input asp-for="Package" class="form-control" />
                <span asp-validation-for="Package" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адрес</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Допълнение</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; justify-content: space-evenly;">
                <input type="submit" value="Save" class="btn btn-primary" />

                <div style="margin-top: 5px;">
                    <a asp-action="Index">Назад</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
