@{
    ViewData["Title"] = "За нас";
}
<h1 style="text-align: center">@ViewData["Title"]</h1>

<hr />

<p style="width: 70%; margin-left: 13rem; margin-top: 2rem; margin-bottom: 2rem;">
    вече от 12 000 души в София ползват достъп до интернет, цифрова телевизия и видеонаблюдение през нашата мрежа.
    Отговорността към възложените ни поръчки, старанието и професионализма на нашите служители, отношението към клиента, перфектната поддръжка и постоянното развитие на нашите IP-базирани услуги, изведоха Онлайн Директ на едно от водещите места в бранша.
    Жаждата за иновиране и постоянните инвестиции в нови технологии, доведоха до изграждане на високоскоростна среда. Базирана на множество оптично свързани звена, мрежата позволява пренос на данни на големи разстояния, без забавяне и опасност от загуба. Оптичната опорна мрежа обхваща над 40% от територията на София, използвайки единствено подземни трасета. Това гарантира безпрепятствен достъп до интернет, независимо от метеорологичните условия.
    След толкова години задоволяване нуждите на клиентите и усъвършенстване на мрежата, ние сме пълноценен базиран на IP услуги интернет оператор. Развиваме и усъвършенстваме настоящите услуги и ви предлагаме многообразие от IP-базирани решения за търговски и жилищни обекти, интернет през оптична мрежа и симетрична свързаност до телевизията, която гледате във вашия дом.
    Екипът на Онлайн Директ е от квалифицирани специалисти, които денонощно следят чрез собствена система за мониторинг качеството на предоставяните услуги. Разполагаме с денонощен Call-център (24 х 7 х 365) и екип от техници, гарантиращи бърза реакция и ефективна поддръжка.
    На разположение на нашите клиенти са 8 офиса, съобразени с районите на покритие. Компетентни служители ще отговорят на всяко запитване, като ви помогнат при избора на желаната от вас услуга.
    За да спестим вашето време, сме предвидили различни възможности за плащане на услугите – ePay, B-Pay, EasyPay, Банков превод и др.
    Водени от максимата “Най-важното за нас е Клиентът”, основната ни цел досега и занапред е свързана със задоволяване потребностите на всеки клиент, предоставяйки високо качество на услугите си.
    Ние сме Вашият правилен избор.
</p>

<div style="margin-left: 13rem; margin-bottom: 3rem;">
    <h2>Контакти</h2>
    <p><strong><em>0800 15 225</em></strong></p>
    <p><strong>БЕЗПЛАТЕН</strong> за абонати на фиксирана телефония</p>

    <p><strong><em>0700 16 225</em></strong></p>
    <p><strong>БЕЗ УВЕЛИЧЕНИЕ</strong> на телефонната услуга</p>

    <p><strong><em>0884 377 477</em></strong></p>
    ТАКСУВАНЕ според тарифния план към обикновен мобилен номер

    <h2>
        E-mail адреси:
    </h2>
    <h3>Технически въпроси</h3> –  <a href="mailto:lightning@abv.bg" style="color: black">support@lightning.bg</a>
    <h3>Административни въпроси</h3> –  <a href="mailto:lightning@abv.bg" style="color: black">sales@lightning.bg</a>

    <h2>Tърговски отдел:</h2>
    <p>• от понеделник до петък – от 9:30 до 18:30 часа</p>
    <p>• събота: 8:30 до 13:00</p>
    <p>• неделя – почивен ден</p>
</div>
