@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" style="padding-left: 0; padding-right: 0">
    <div class="container">
        <h1 class="headline">Lightning</h1>
        <h2 class="second-headline">Светкавично бърз интернет и кристално ясна телевизия.</h2>
    </div>
    <div>
        <img width="100%" class="img-fluid" src="https://s3.envato.com/files/244973361/Earth%20Night%20Europe.jpg" />
    </div>

    <div class="container mt-5" style="display: flex;">
        <div style="width: 50%; background-color: #f9f9f9; margin-right: 3rem;">
            <h2 class="img-title">Правим избора ти лесен</h2>
            <h4 class="img-content">Скорост, надеждност, гъвкави условия - най-изгодният Интернет</h4>
            <h4 class="img-second-content">доставчик в България!</h4>
            <img width="100%" height="100%" src="https://png.pngtree.com/thumb_back/fw800/background/20190521/pngtree-global-network-connection-technology-abstract-background-image_113942.jpg" />
        </div>

        <div style="width: 50%; background-color: #f9f9f9;">
            <div style="padding: 3rem;">
                <div>
                    <h2 class="homepage-info-title">Експресно или бързо включване!</h2>
                    <ul>
                        <li>Безплатна инсталация до 3 дни</li>
                        <li>Експресно включване в рамките на 24 часа(с доплащане 20.00 лв.)</li>
                    </ul>
                </div>

                <div>
                    <h2 class="homepage-info-title">Допълнителни телевизионни пакети</h2>
                    <ul>
                        <li>HBO&Cinemax</li>
                        <li>DiemaXtra</li>
                    </ul>
                </div>

                <div>
                    <h2 class="homepage-info-title">Поддръжка и обратна връзка</h2>
                    <ul>
                        <li>Денонощна телефонна линия – 24/7</li>
                        <li>Бърза реакция и ефективна поддръжка</li>
                    </ul>
                </div>

                <div>
                    <h2 class="homepage-info-title">Безплатни устройства: сет-топ-бокс за всички клиенти със срочен договор</h2>
                    <ul>
                        <li>Предоставяме ви безплатно устройство за връзка: цифров приемник за телевизия за безплатно ползване при подписване на срочен договор</li>
                    </ul>
                </div>

                <div>
                    <h2 class="homepage-info-title">С или без договор - да сме гъвкави е част от това, което ни прави различни</h2>
                    <ul>
                        <li>Срочен – може да избирате между 12 и 24 месечен договор с преференциални условия</li>
                        <li>Безсрочен – предплатена услуга, без фиксиран срок. Подходяща за временно ползване или клиенти, които често променят своя адрес</li>
                    </ul>
                </div>

                <div>
                    <h2 class="homepage-info-title">Гарантирана скорост на Интернет достъп</h2>
                    <ul>
                        <li>Знаем, че модерните приложения, сайтове и стрийминг платформи изискват бърза и надеждна връзка, за да следиш най-интересното за теб. Затова и гарантираме скоростта на връзка, според избраният от теб план</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3 class="favourite-offers-title">Популярни оферти</h3>
        <div class="card-container">
            <div class="card" style="width: 18rem; margin-right: 2rem; ">
                <div class="card-body">
                    <h5 class="card-title">ИНТЕРНЕТ 100</h5>
                    <h6 class="card-subtitle mb-2 text-muted">16.99лв с ДДС</h6>
                        <p class="card-text">Високо скоростен интернет с достижима скорост до 100Mbits</p>
                        <a href="#" class="card-link">Виж повече</a>
                        <a href="#" class="card-link">Поръчай сега</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-right: 2rem;">
                <div class="card-body">
                    <h5 class="card-title">Пакет МАКС</h5>
                    <h6 class="card-subtitle mb-2 text-muted">29.99лв с ДДС</h6>
                    <p class="card-text">Високо скоростен интернет с достижима скорост до 100Mbits и кристално ясна телевизия с над 500 канала.</p>
                    <a href="#" class="card-link">Виж повече</a>
                    <a href="#" class="card-link">Поръчай сега</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-right: 2rem;">
                <div class="card-body">
                    <h5 class="card-title">ТВ 100</h5>
                    <h6 class="card-subtitle mb-2 text-muted">9.99лв с ДДС</h6>
                    <p class="card-text">Кристално ясна телевизия със 100-те най-популярни и търсени канала.</p>
                    <a href="#" class="card-link">Виж повече</a>
                    <a href="#" class="card-link">Поръчай сега</a>
                </div>
            </div>
        </div>
    </div>
</div>