@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="container">
        <h1 class="headline">Lightning</h1>
        <h2 class="second-headline">Светкавично бърз интернет и кристално ясна телевизия.</h2>
    </div>
    <div>
        <img width="100%" class="img-fluid" src="https://s3.envato.com/files/244973361/Earth%20Night%20Europe.jpg" />
    </div>

    <div>
        <h3 class="favourite-offers-title">Любими оферти</h3>
        <div class="card-container">
            <div class="card" style="width: 18rem; margin-right: 2rem; ">
                <div class="card-body">
                    <h5 class="card-title">ИНТЕРНЕТ 100</h5>
                    <h6 class="card-subtitle mb-2 text-muted">16.99лв с ДДС</h6>
                        <p class="card-text">Високо скоростен интернет с достижима скорост до 100Mbits</p>
                        <a href="#" class="card-link">Виж повече</a>
                        <a href="#" class="card-link">Поръчай сега</a>
</div>
            </div>
            <div class="card" style="width: 18rem; margin-right: 2rem;">
                <div class="card-body">
                    <h5 class="card-title">Пакет МАКС</h5>
                    <h6 class="card-subtitle mb-2 text-muted">29.99лв с ДДС</h6>
                    <p class="card-text">Високо скоростен интернет с достижима скорост до 100Mbits и кристално ясна телевизия с над 500 канала.</p>
                    <a href="#" class="card-link">Виж повече</a>
                    <a href="#" class="card-link">Поръчай сега</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-right: 2rem;">
                <div class="card-body">
                    <h5 class="card-title">ТВ 100</h5>
                    <h6 class="card-subtitle mb-2 text-muted">9.99лв с ДДС</h6>
                    <p class="card-text">Кристално ясна телевизия със 100-те най-популярни и търсени канала.</p>
                    <a href="#" class="card-link">Виж повече</a>
                    <a href="#" class="card-link">Поръчай сега</a>
                </div>
            </div>
        </div>
    </div>
</div>