@{
    ViewData["Title"] = "Оферти";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<hr />

<div class="card-container">
    <div style="display: flex;" class="row">
        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem; ">
            <div class="card-body" style="height: 300px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">ИНТЕРНЕТ 50</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">7.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Високо скоростен интернет с достижима скорост до 50Mbits</p>
                <div class="d-flex" style="height: 115px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 330px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">ИНТЕРНЕТ 75</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">9.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Високо скоростен интернет с достижима скорост до 75Mbits</p>
                <div class="d-flex" style="height: 145px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 400px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">ИНТЕРНЕТ 100</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">13.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Високо скоростен интернет с достижима скорост до 100Mbits</p>
                <div class="d-flex" style="height: 220px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex;" class="row">
        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 300px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">ТВ 100</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">10.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Кристално ясна телевизия със 100-те най-популярни и търсени канала.</p>
                <div class="d-flex" style="height: 90px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 330px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">ТВ 200</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">19.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Кристално ясна телевизия със 140-те най-популярни и търсени канала. Както и 60 HD канала.</p>
                <div class="d-flex" style="height: 120px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 400px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">ТВ 300</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">29.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Кристално ясна телевизия със 200-те най-популярни и търсени канала. Всички спортни канали(Diema Xtra, Max Sport). Както и 100 HD канала.</p>
                <div class="d-flex" style="height: 145px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; margin-bo" class="row">
        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 300px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">Пакет МАКС 75</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">16.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Високо скоростен интернет с достижима скорост до 50Mbits и кристално ясна телевизия с до 100 канала.</p>
                <div class="d-flex" style="height: 68px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 330px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">Пакет МАКС 100</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">23.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Високо скоростен интернет с достижима скорост до 100Mbits и кристално ясна телевизия с до 200 канала. Както и 60 HD канала.</p>
                <div class="d-flex" style="height: 75px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-right: 2rem; margin-bottom: 3rem;">
            <div class="card-body" style="height: 400px">
                <h5 class="card-title" style="text-align: center; color: #86c7ff;">Пакет МАКС 300</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: end; margin-bottom: 3rem">35.99лв с ДДС</h6>
                <p class="card-text" style="margin-top: 2rem">Високо скоростен интернет с достижима скорост до 100Mbits и кристално ясна телевизия с до 500 канала. Както и 120 HD канала и всички спортни програми(Diema Xtra, Max Sport и др.)</p>
                <div class="d-flex" style="height: 100px; justify-content: space-between;">
                    <a class="mt-auto p-2" style="color: #86c7ff" asp-area="" asp-controller="Requests" asp-action="Create">Поръчай сега</a>
                </div>
            </div>
        </div>
    </div>
</div>
