<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lightning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="height: 90px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Lightning</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Offers">Оферти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Requests" asp-action="Create">Заяви пакет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top custom-footer" style="background-color: #676767;">
        <div class="footer-col">
            <div style="display:flex;">
                <div style="margin-right: 2rem;">
                    <p class="footer-paragraphs">Адрес: Ул. Атанас Томов 6</p>

                    <p class="footer-paragraphs">Телефон: 0700 16 225</p>

                    <a class="footer-links" href="mailto:lightning@abv.bg">support@lightning.bg</a>
                </div>
                <div>
                    <p class="footer-paragraphs">Работно време:</p>
                    <p class="footer-paragraphs">Пон-Петък: 9:30 до 18:30</p>
                    <p class="footer-paragraphs">Събота: 8:30 до 13:00</p>
                    <p class="footer-paragraphs">Неделя: Почивен ден</p>
                </div>
            </div>
        </div>
        <div class="footer-col">
            <div style="display:grid;">
                <a class="footer-links" asp-area="" asp-controller="Home" asp-action="Privacy">Условия за ползване</a>
                <a class="footer-links" asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a>
            </div>

            <p class="footer-paragraphs">&copy; 2020 - Lightning</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
